.fullGameZone {
    background: linear-gradient(rgb(50, 247, 50), rgb(3, 65, 3));
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
}

.radialGradientBackground {
    background: radial-gradient(closest-side, rgba(255, 255, 255, 0.432), rgba(255, 255, 255, 0));
    width: 320px;
    height: 320px;
    position: absolute;
}

.overScore {
    transform: translate(0, -200px);
    position: absolute;
    color: white;
    text-shadow: 0 1px 3px black;
    z-index: 1000;
}

.clickZone {
    width: 160px;
    height: 160px;
    position: absolute;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    /* background-image: url("/personal/clicker/img/crystal.png"); */
}

#rotatingGearClick {
    width: 100%;
    height: 100%;
    transition-duration: 500ms;
}

#rotatingGear {
    width: 100%;
    height: 100%;
}

#pebbleSet {
    height: 275px;
    width: 275px;
    position: relative;
    animation-name: iFullRotation;
    animation-duration: 180s;
    animation-timing-function: linear;
    transition-duration: 1s;
    animation-iteration-count: infinite;
}

.pebble {
    height: 64px;
    width: 64px;
    object-fit: cover;
    visibility: hidden;
    opacity: 0;
    transition-duration: 100ms;
}

.programmedLines {
    position: absolute;
    top: 0;
    left: 0;
    width: 375px;
    height: 375px;
    z-index: -1;
    overflow: visible;
}