@import url("shop.css");
@import url("animations.css");
* {
    user-select: none;
}

:root {
    --menu-width: 300px;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}

.devMenu {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

.mainContent {
    width: calc(100% - var(--menu-width));
    height: 100%;
}

.sidebar {
    position: relative;
    background-color: lightgoldenrodyellow;
    border-color: darkorange;
    border-style: double;
    border-width: 0px;
    border-left-width: 4px;
    height: 100%;
    width: var(--menu-width);
    top: 0px;
    right: 0px;
}

@media (max-width: 750px) {
    .mainContent {
        width: 100%;
    }
    .sidebar {
        border-width: 0;
        border-top-width: 4px;
        height: auto;
        width: 100%;
        padding-bottom: 16px;
        min-width: var(--menu-width);
    }
}