@import url("shop.css");
@import url("animations.css");
* {
    user-select: none;
}

:root {
    --menu-width: 300px;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}

.devMenu {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

.mainContent {
    width: calc(100% - var(--menu-width));
    height: 100%;
}

.sidebar {
    position: relative;
    /* background-color: lightgoldenrodyellow; */
    background: linear-gradient(90deg, rgb(161, 103, 32) 0%, rgb(247, 158, 51) 25%, rgb(247, 158, 51) 75%, rgb(161, 103, 32) 100%);
    border-color: darkorange;
    border-style: double;
    border-width: 0px;
    border-left-width: 4px;
    box-sizing: border-box;
    height: 100%;
    width: var(--menu-width);
    top: 0px;
    right: 0px;
}

@media (max-width: 750px) {
    .mainContent {
        width: 100%;
        max-height: 750px;
        min-height: 450px;
    }
    .sidebar {
        border-width: 0;
        border-top-width: 4px;
        height: auto;
        width: 100%;
        padding-bottom: 16px;
        min-width: var(--menu-width);
    }
}