@import url("shop.css");
@import url("animations.css");
* {
    user-select: none;
}

:root {
    --menu-width: 300px;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}

.mainContent {
    display: inline-block;
    background-color: green;
    top: 0px;
    left: 0px;
    width: calc(100% - var(--menu-width));
    height: 100%;
    flex: 1;
}

.brickZone {
    margin: 0;
    position: relative;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    align-content: center;
}

.brick {
    transition-duration: 0.2s;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 160px;
    width: 160px;
    flex-grow: 0;
    flex-shrink: 0;
    cursor: pointer;
}

#brickImg {
    height: 100%;
    width: 100%;
}

.banner {
    color: white;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: block;
    font-weight: bold;
    font-size: 26px;
}

.sidebar {
    position: relative;
    display: block;
    background-color: lightgoldenrodyellow;
    border-color: darkorange;
    border-style: double;
    border-width: 0px;
    border-left-width: 4px;
    height: 100%;
    width: var(--menu-width);
    top: 0px;
    right: 0px;
}

@media (max-width: 750px) {
    .mainContent {
        width: 100%;
    }
    .sidebar {
        border-width: 0;
        border-top-width: 4px;
        height: auto;
        width: 100%;
        padding-bottom: 16px;
        min-width: var(--menu-width);
    }
}