.articleContainer {
    display: flex;
    margin-bottom: 8px;
    flex-wrap: wrap;
    position: relative;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.articleTitle {
    width: 100%;
}

.articleContent {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 100%;
}

.articleCC {
    overflow: hidden;
    position: relative;
    width: 100%;
    max-height: 450px;
    padding: 4px;
    box-sizing: border-box;
}

.contentHidder {
    position: absolute;
    height: 100px;
    width: 100%;
    bottom: 0;
    background: linear-gradient(rgba(0, 0, 0, 0), beige);
}

.articleContent>p {
    margin: 0 32px;
}

.articleContent>pre {
    align-self: center;
    border-radius: 16px;
    overflow-x: auto;
    margin-bottom: 32px;
    width: 90%;
    max-width: 90vw;
    font-family: 'fontAwesome';
}

.articleSeparator {
    width: 100%;
    color: #00000040;
    margin-left: 32px;
    margin-right: 32px;
}

.articleGoToButton {
    padding: 0 8px;
    border-width: 4px;
    border-color: lightsalmon;
    border-style: solid;
    background-color: lightsalmon;
    border-radius: 6px;
    box-sizing: border-box;
    transition-duration: 200ms;
    cursor: pointer;
    box-shadow: 0 0px 2px 0.5px rgba(0, 0, 0, 0.204);
}

.articleGoToButton:hover {
    box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.204);
    transform: translate(0, -2px);
}

.articleGoToButton:active {
    background-color: rgb(255, 187, 160);
    border-color: rgb(255, 187, 160);
    color: rgba(0, 0, 0, 0.692);
    transition-duration: 0ms;
}

.articleDate {
    right: 0;
    padding: 0 8px;
    font-size: 14px;
    color: #00000090;
}