@import url("fonts.css");
.articleContainer {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: space-between;
}

.articleTitle {
    width: 100%;
}

.articleContent {
    margin-bottom: 8px;
}

.articleSeparator {
    width: 100%;
    color: #00000040;
    margin-left: 32px;
    margin-right: 32px;
}

.articleGoToButton {
    padding: 0 8px;
    border-width: 4px;
    border-color: lightsalmon;
    border-style: solid;
    background-color: lightsalmon;
    border-radius: 6px;
    box-sizing: border-box;
    transition-duration: 200ms;
    cursor: pointer;
    box-shadow: 0 0px 2px 0.5px rgba(0, 0, 0, 0.204);
}

.articleGoToButton:hover {
    box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.204);
    transform: translate(0, -2px);
}

.articleGoToButton:active {
    background-color: rgb(255, 187, 160);
    border-color: rgb(255, 187, 160);
    color: rgba(0, 0, 0, 0.692);
    transition-duration: 0ms;
}

.articleDate {
    right: 0;
    padding: 0 8px;
    font-size: 14px;
    color: #00000090;
}