@font-face {
    font-family: 'Merriweather_Sans';
    src: url('../fonts/Merriweather_Sans/MerriweatherSans-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'oliciy';
    src: url('../fonts/oliciy/Oliciy.ttf');
}

* {
    font-family: 'Merriweather Sans';
    font-size: large;
}